body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/** image is from https://emojipedia.org/microsoft-teams/ **/

.peace {
    width: 100px;
    height: 100px;
    background-image: url('image/peace.png');
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.peace:hover {
    -webkit-transform: rotate(200deg) scale(2);
    transform: rotate(200deg) scale(2);
}